body {
  margin: 0px;
  padding: 0;
  height: 100vh;
  font-family: 'Gayathri', sans-serif;
}

.container {
  background-color: #415068;
}

.nav-bar {
  display: grid;
  grid-template-columns: 200px 2fr;
  justify-content: center;
  align-items: center;
  background-color: #415068;
  color: white;
  border-top: 100vh;
  height: 50px;
  width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: white;
  height: 100%;
  /* width: 100vw; */
}

.links-wrapper {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.links-wrapper div {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: #223047;
  height: 100%;
  align-items: center;
  width: 70px;
}

.link-three {
  display: flex;
  padding-left: 800px;
}


/* #223047 */